<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <brazil_zipcode>
            <general>
                <cache_status>1</cache_status>
                <db_status>1</db_status>
                <accept_general_zipcode>1</accept_general_zipcode>
            </general>
        </brazil_zipcode>
    </default>
</config>