<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magedev" translate="label" sortOrder="102">
            <label>MageDev</label>
        </tab>
        <section id="brazil_zipcode" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Brazil Zip Code</label>
            <tab>magedev</tab>
            <resource>MageDev_BrazilZipCode::brazil_zip_code_config</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Configuration</label>

                <field id="cache_status" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cache Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="db_status" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Database persistence Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="accept_general_zipcode" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Accept General ZipCode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="service_sort_order" translate="label" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Services Sort Order</label>
                    <comment>By default, all services are iterated if none return a valid zipcode object. Setting an sort order in this field will not only define a sort order, but will limit services available to iterate. (Services not listed here, will be disabled on the service list.) Clear this list to enable all the services again, or add all you want to be available.</comment>
                    <frontend_model>MageDev\BrazilZipCode\Block\Adminhtml\Form\Field\ServicesSortOrder</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>